.edit-name-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap:15px;
    width: 80%;
}

.edit-name-form h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-color);
}

.edit-name-form .input-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin: auto;
}
.edit-name-form .input-wrapper input {
    font-weight: 200;
    width: 50%;
}
.edit-name-form .input-wrapper label {
    font-weight: 200;
    width: 50%;
}

.edit-name-form .buttons {
    display: flex;
    margin: auto;
    gap: 5%;
    width: 80%;
    justify-content: center;
}

.edit-name-form button {
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    width: 100%;
    max-width: 150px;

}

@media (min-width: 375px) and (max-width: 767px) {
    .edit-name-form button {
        width: 80%; 
    }
}

/* Pour les écrans de 768px à 1024px (tablette) */
@media (min-width: 768px) and (max-width: 1024px) {
    .edit-name-form button { 
        width: 60%; 
    }
}